body {
    font-family: 'HuiFontP109', sans-serif;
    background-image: url("../src/pastel_00108.jpg"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
    margin: 0px;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    padding-bottom: 40px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 7px;
    max-width: 80%;
    overflow-wrap: break-all;
    justify-content: center;
    text-align:center;
    align-items: center;
    font-size: 25px;
}

.twitter-hashtag-button {
    text-align: right;
    font-size: x-large;
    margin-right: 5px;
}

.search-button {
    border: 0px;
    border-radius: 20px;
    background-color: #1DA1F2;
    padding: 6px 10px 6px 10px;
    width: auto;
    color: #fff;
    margin-left: 5px;
}

.search-button:hover {
    background-color: #0d8cce;
}

h3 {
    margin-bottom: 10px;
    font-family: "vdl-gothicmincho", sans-serif;
}

h2 {
    font-family: "vdl-gothicmincho", sans-serif;
}

.buttons_wrapper {
    flex-wrap: wrap;
}
  
a {
    text-decoration: none;
}
  
/* メニュー関係 start*/
#layla_logo {
margin: 0px;
width: auto;
height: 60px;
}

.header{
font-family: "vdl-gothicmincho", sans-serif;
font-weight: 400;
font-style: normal;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 70px;
background-color: #6C3246;
z-index: 1;
}
.header_inner {
position: relative;
padding: 15px;
}
.logo{
position: absolute;
top: 0;
left: 0;
padding: 5px 10px 5px 0px;
padding-left: 3%;
}
.title{
font-size: 2rem;
font-weight: 600;
}

/* header固定のため余白をつける。メニューのCSSには関係ない */
.main{  
margin-top: 70px;
}

@media only screen and (max-width: 1080px) {
.nav {
    position: fixed;
    right: -320px; /* 右から出てくる */
    top: 0;
    width: 300px; /* スマホに収まるサイズ */
    height: 100vh;
    padding-top: 60px;
    background-color: #6C3246;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
    position: absolute;
    right: 15px;
    top: 12px;
    width: 40px; /* クリックしやすい幅 */
    height: 40px; /* クリックしやすい高さ */
    cursor: pointer;
    z-index: 300;
}
.nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav_item {
    text-align: center;
    padding: 0 14px;
}
.nav_item a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #FFE4C4;
}
.nav_item a:hover {
    background-color: #FFE4C4;
    color: #333;
}
.hamburger_border {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 2px;
    background-color: #FFE4C4;
    transition: all .6s;
}
.hamburger_border_top {
    top: 14px;
}
.hamburger_border_center {
    top: 20px;
}
.hamburger_border_bottom {
    top: 26px;
}
.black_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #333;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}

/* 表示された時用のCSS */
.nav-open .nav {
    right: 0;
}
.nav-open .black_bg {
    opacity: .8;
    visibility: visible;
}
.nav-open .hamburger_border_top {
    transform: rotate(45deg);
    top: 20px;
}
.nav-open .hamburger_border_center {
    width: 0;
    left: 50%;
}
.nav-open .hamburger_border_bottom {
    transform: rotate(-45deg);
    top: 20px;
}

.nav_item #menu_ht { 
    color: #333;
    background-color: #FFE4C4;
}

.nav_item {
    padding-left: 0px;
    padding-right: 0px;
}

h3 {
    margin-bottom: 10px;
    font-family: "vdl-gothicmincho", sans-serif;
    font-size: 24px;
}

h2 {
    font-family: "vdl-gothicmincho", sans-serif;
    font-size: 28px;
}


}/* sp */

@media only screen and (min-width: 1080px) {
.header_inner {
    width: 95%;
    padding: 5px 15px;
}
.nav_list{
    text-align: right;
}
.nav_list li{
    display: inline-block;
    text-align: right;
    padding: 0px 0px 0px 0px;
    font-size: large;
}
.nav_list a {
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    margin-left: 15px;
}
.nav_item a{
    color: #FFE4C4;
    font-weight: 600;
}
.nav_item #menu_ht { 
    color: #333;
    background-color: #FFE4C4;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);  
}
.nav_item a:hover  {
    color: #333;
    background-color: #FFE4C4;
}



}/* pc */
/* メニュー関係 end*/

.titleScripts {
display: flex;
width: 100%;
justify-content: center;
text-align:center;
align-items: center;
font-size: xx-large;
}
.contents-wapper {
font-family: sans-serif;
}

footer {
width: 100%;
height: auto;
background-color: #424141;
text-align: center;
color: #ddd;
padding-top: 10px;
padding-bottom: 10px;
}

ul.footer_menu {
margin-top: 0px;
}


ul.footer_menu {
list-style-type: none;
padding-left: 0px;
margin-bottom: 0px;
}

ul.footer_menu li {
display: inline;
}

#cc {
font-family: sans-serif;
color: #ddd;
}

#version {
font-family: sans-serif;
color: #ddd;
}


@media only screen and (max-width: 610px) {
    .twitter-hashtag-button {
        text-align: right;
        font-size: x-large;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .search-button {
        border: 0px;
        border-radius: 20px;
        background-color: #1DA1F2;
        padding: 6px 10px 6px 10px;
        width: auto;
        color: #fff;
        margin-left: 5px;
    }
}


@media screen and (max-width: 480px) {
/* ここに480px以下用（スマートフォン） */
    .header_title{
        font-size: large;
    }

    footer {
        width: auto;
        height: auto;
        background-color: #424141;
        text-align: center;
        color: #ddd;
        margin-bottom: 0%;
    }

    footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #cc {
        font-size: small;
    }
    #version {
        font-size: small;
    }

    .container {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
    }

    h3 {
        margin-bottom: 10px;
        font-family: "vdl-gothicmincho", sans-serif;
        font-size: 16px;
    }
    
    h2 {
        font-family: "vdl-gothicmincho", sans-serif;
        font-size: 18px;
    }

    .twitter-hashtag-button {
        text-align: right;
        font-size: x-large;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .search-button {
        border: 0px;
        border-radius: 20px;
        background-color: #1DA1F2;
        padding: 1px 10px 1px 10px;
        width: auto;
        color: #fff;
        margin-left: 0px;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
}
  
    