body {
    font-family: 'HuiFontP109', sans-serif;
    background-image: url("../src/pastel_00108.jpg"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
    margin: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face{
    font-family:'HuiFontP109';
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
    url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
    url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
    url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
}

a {
    text-decoration: none;
}

/* メニュー関係 start*/
#layla_logo {
    margin: 0px;
    width: auto;
    height: 60px;
}

.header{
    font-family: "vdl-gothicmincho", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #6C3246;
    z-index: 1;
}
.header_inner {
    position: relative;
    padding: 15px;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px 5px 0px;
    padding-left: 3%;
}
.title{
    font-size: 2rem;
    font-weight: 600;
}
  
/* header固定のため余白をつける。メニューのCSSには関係ない */
.main{  
    margin-top: 70px;
}
  
@media only screen and (max-width: 768px) {
    .nav {
      position: fixed;
      right: -320px; /* 右から出てくる */
      top: 0;
      width: 300px; /* スマホに収まるサイズ */
      height: 100vh;
      padding-top: 60px;
      background-color: #6C3246;
      transition: all .6s;
      z-index: 200;
      overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    }
    .hamburger {
      position: absolute;
      right: 15px;
      top: 12px;
      width: 40px; /* クリックしやすい幅 */
      height: 40px; /* クリックしやすい高さ */
      cursor: pointer;
      z-index: 300;
    }
    .nav_list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .nav_item {
      text-align: center;
      padding: 0 14px;
    }
    .nav_item a {
      display: block;
      padding: 8px 0;
      border-bottom: 1px solid #FFE4C4;
      text-decoration: none;
      color: #FFE4C4;
    }
    .nav_item a:hover {
      background-color: #FFE4C4;
      color: #333;
    }
    .hamburger_border {
      position: absolute;
      left: 11px;
      width: 18px;
      height: 2px;
      background-color: #FFE4C4;
      transition: all .6s;
    }
    .hamburger_border_top {
      top: 14px;
    }
    .hamburger_border_center {
      top: 20px;
    }
    .hamburger_border_bottom {
      top: 26px;
    }
    .black_bg {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      background-color: #333;
      opacity: 0;
      visibility: hidden;
      transition: all .6s;
      cursor: pointer;
    }
  
    /* 表示された時用のCSS */
    .nav-open .nav {
      right: 0;
    }
    .nav-open .black_bg {
      opacity: .8;
      visibility: visible;
    }
    .nav-open .hamburger_border_top {
      transform: rotate(45deg);
      top: 20px;
    }
    .nav-open .hamburger_border_center {
      width: 0;
      left: 50%;
    }
    .nav-open .hamburger_border_bottom {
      transform: rotate(-45deg);
      top: 20px;
    }
}/* sp */
  
@media only screen and (min-width: 769px) {
    .header_inner {
        width: 95%;
        padding: 5px 15px;
    }
    .nav_list{
        text-align: right;
    }
    .nav_list li{
        display: inline-block;
        text-align: right;
        padding: 0px 0px 0px 0px;
        font-size: large;
    }
    .nav_list a {
        padding: 10px 5px 10px 5px;
        border-radius: 5px;
        margin-left: 15px;
    }
    .nav_item a{
        color: #FFE4C4;
        font-weight: 600;
    }

    .nav_item #menu_sch { 
        color: #333;
        background-color: #FFE4C4;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);  
    }
    .nav_item a:hover  {
        color: #333;
        background-color: #FFE4C4;
    }

    /*セレクトボックス関連 */
    #title_shownum {
        font-size:x-large;
    }
    #numSelect {
        width: 70px;
        height: 40px;
        font-size: large;
    }
}/* pc */
/* メニュー関係 end*/



.titleScripts {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align:center;
    align-items: center;
    font-size: xx-large;
}
.contents-wapper {
    font-family: sans-serif;
}

footer {
    width: 100%;
    height: auto;
    background-color: #424141;
    text-align: center;
    color: #ddd;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.footer_menu {
    margin-top: 0px;
}


ul.footer_menu {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

ul.footer_menu li {
    display: inline;
}

#cc {
    font-family: sans-serif;
    color: #ddd;
}

#version {
    font-family: sans-serif;
    color: #ddd;
}


.no01 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.no02 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}
.no03 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}
.no04 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.contents-wapper div span {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}


#button_sch a {
    border-radius: 7px;
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 250px;
    padding: 20px 20px;
    font-size: 30px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    /*font-weight: 600;*/
    background: rgb(252, 149, 149);
    background: linear-gradient(270deg, rgb(252, 149, 149) 0%, rgb(255, 107, 107) 100%);
    /*box-shadow: 5px 5px #f9a5a5;*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
#button_sch a:hover {
    background: rgb(255, 117, 117);
    background: linear-gradient(270deg, rgb(255, 117, 117) 0%, rgb(252, 62, 62) 100%);
}

#youtubeList_u {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_u_inner {
    display: flex;
    flex-wrap: wrap;
}

#youtubeList_l {
    background-color: rgba(243, 90, 90, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_c {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_c_inner {
    display: flex;
    flex-wrap: wrap;
}

#youtubeList_test {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_test_inner {
    display: flex;
    flex-wrap: wrap;
}

.statetext {
    font-size: xx-large;
    width: fit-content;
    margin-top: 16px;
}

#link {
    float: left;
}

.ringo  {
    display: none;
    margin: 10px;
    float: right;
}

.twitter-follow-button {
    margin: 10px;
    margin-bottom: 3px;
    text-align: right;
    font-size: large;
}

.twitter-hashtag-button {
    margin-left: 10px;
    margin-top: 3px;
    text-align: right;
    font-size: large;
}



iframe {
    width: 608px;
    height: 342px;
    border-radius: 7px;
}

.thumb {
    width: 608px;
    height: 342px;
    border-radius: 7px;
}

.iframe_wrapper {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-width: 0px;
    border-radius: 7px;
    background-color: #ffffff9a;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.iframe_wrapper_test {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-width: 0px;
    border-radius: 7px;
    background-color: #ffffff9a;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

h2.sc-time {
    margin-top: 5px;
    margin-bottom: 10px;
}

.statetext_top {
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.ave_time {
    height: fit-content;
    margin-top: 16px;
}




.iframe_wrapper_c {
    margin: 5px;
}


.switch_label {
    width: fit-content;
    display: none;
    margin: 10px;
    align-items: center;
}

.switch_light_label {
    width: fit-content;
    display: flex;
    margin: 10px;
    align-items: center;
}


  
input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
}
  
.base {
    width: 56px;
    border-radius: 15px;
    height: 32px;
    background-color: #ddd;
}
  
.title {
    margin-left: 4px;
}



.circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: white;
    transition: 0.5s;
}
  
input:checked ~ .base {
    background-color: rgb(219, 234, 254);
    transition: 0.5s;
}

input:checked ~ .circle {
    transform: translateX(100%);
    background-color: blue;
}
  

.switch {
    position: relative;
}
#switch {
    display: none;
}

.switch_light {
    position: relative;
}

#switch_light {
    display: none;
}



.title_blkapi {
    margin-right: 10px;
}

.enable_lightmode {
    margin-right: 10px;
}





/* ここから上に812px以上用（タブレット・パソコン）以降に特段設定しなければ上が優先 */
@media screen and (max-width: 812px) {
/* ここに812px以下用（タブレット・スマートフォン） */
    .header_title{
        font-size: x-large;
    }
    .titleScripts {
        text-align: center;
        font-size: x-large;
    }
    #button_sch a {
        font-size: x-large;
        max-width: 200px;
        margin-bottom: 35px;
    }
    .statetext {
        font-size: x-large;
    }
    iframe {
        width: 352px;
        height: 198px;
    }
    .thumb {
        width: 352px;
        height: 198px;
    }

    .iframe_wrapper {
        padding: 5px;
        width: auto;
    }
}


@media screen and (max-width: 500px) {
/* ここに500px以下用（スマートフォン） */
    .header_title{
        font-size: large;
    }
    .titleScripts {
        text-align: center;
        font-size: large;
    }
    #button_sch a {
        font-size: large;
        max-width: 160px;
        margin-bottom: 20px;
    }

    footer {
        width: auto;
        height: auto;
        background-color: #424141;
        text-align: center;
        color: #ddd;
        margin-bottom: 0%;
    }

    footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #cc {
        font-size: small;
    }
    #version {
        font-size: small;
    }
    
    .statetext {
        font-size: large;
    }
    iframe {
        width: 320px;
        height: 180px;
    }

    .thumb {
        width: 320px;
        height: 180px;
    }

    .iframe_wrapper {
        padding: 5px;
        margin: 5px;
        width: auto;
    }

    .iframe_wrapper_test {
        padding: 5px;
        margin: 5px;
        width: auto;
    }

    #youtubeList_u {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px;
    }

    h2.statetext {
        margin-left: 5px;
    }

    h2.sc-time {
        font-size: large;
    }

    .ave_time {
        font-size: small;
        width: fit-content;
        text-align: end;
    }
}





