@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face{
    font-family:'HuiFontP109';
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
    src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
    url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
    url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
    url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
    font-display: swap; /* フォントがロードされるまで代替フォントを表示 */
}

/* テープのスタイル */
@keyframes tapeAnimation {
    0% {
      transform: translateY(-100%) rotate(0deg);
      opacity: 1; /* 透明度を1に設定 */
    }
    100% {
      transform: translateY(100vh) rotate(720deg);
      opacity: 1; /* 透明度を1に設定 */
    }
  }
  
  .tape-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* マウスイベントを無効化 */
    z-index: 9999; /* 一番手前に表示 */
  }
  
  .tape {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform-origin: center bottom;
    width: 20px; /* 大きさを調整 */
    height: 20px; /* 大きさを調整 */
    background-color: transparent; /* 背景色は透明 */
    border-radius: 2px;
    pointer-events: none; /* マウスイベントを無効化 */
    opacity: 1; /* 初期は透明ではなく1に設定 */
    animation: tapeAnimation 4s linear infinite; /* アニメーションの適用 */
    content: '';
  }
  
  .tape::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* 背景色は透明 */
    border-radius: 2px;
  }
  
  

#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
#loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader-message {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
  
  

body {
    font-family: 'HuiFontP109', sans-serif;
    background-image: url("../src/pastel_00108.jpg"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
    margin: 0px;
    min-width: 360px; /* 画面幅360pxまで */
    overflow-x: auto;
}

body {
    /*font-family: 'HuiFontP109', sans-serif;*/
    font-family: "vdl-gothicmincho", sans-serif;
    background-image: url("../src/pastel_00108.jpg"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
    margin: 0px;
}


a {
    text-decoration: none;
}

/* メニュー関係 start*/
#layla_logo {
    margin: 0px;
    width: auto;
    height: 60px;
}

.header{
    font-family: "vdl-gothicmincho", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #6C3246;
    z-index: 1;
}
.header_inner {
    position: relative;
    padding: 15px;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px 5px 0px;
    padding-left: 3%;
}
.title{
    font-size: 2rem;
    font-weight: 600;
}
  
/* header固定のため余白をつける。メニューのCSSには関係ない */
.main{  
    margin-top: 70px;
}
  
@media only screen and (max-width: 1200px) {
    .nav {
      position: fixed;
      right: -320px; /* 右から出てくる */
      top: 0;
      width: 300px; /* スマホに収まるサイズ */
      height: 100vh;
      padding-top: 60px;
      background-color: #6C3246;
      transition: all .6s;
      z-index: 200;
      overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    }
    .hamburger {
      position: absolute;
      right: 15px;
      top: 12px;
      width: 40px; /* クリックしやすい幅 */
      height: 40px; /* クリックしやすい高さ */
      cursor: pointer;
      z-index: 300;
    }
    .nav_list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .nav_item {
      text-align: center;
      padding: 0 14px;
    }
    .nav_item a {
      display: block;
      padding: 8px 0;
      
      text-decoration: none;
      color: #FFE4C4;
    }
    .nav_item a:hover {
      background-color: #FFE4C4;
      color: #333;
    }
    .hamburger_border {
      position: absolute;
      left: 11px;
      width: 18px;
      height: 2px;
      background-color: #FFE4C4;
      transition: all .6s;
    }
    .hamburger_border_top {
      top: 14px;
    }
    .hamburger_border_center {
      top: 20px;
    }
    .hamburger_border_bottom {
      top: 26px;
    }
    .black_bg {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      background-color: #333;
      opacity: 0;
      visibility: hidden;
      transition: all .6s;
      cursor: pointer;
    }
  
    /* 表示された時用のCSS */
    .nav-open .nav {
      right: 0;
    }
    .nav-open .black_bg {
      opacity: .8;
      visibility: visible;
    }
    .nav-open .hamburger_border_top {
      transform: rotate(45deg);
      top: 20px;
    }
    .nav-open .hamburger_border_center {
      width: 0;
      left: 50%;
    }
    .nav-open .hamburger_border_bottom {
      transform: rotate(-45deg);
      top: 20px;
    }

    .nav_item #menu_mo { 
        color: #333;
        background-color: #FFE4C4;
    }

    .nav_item {
        padding-left: 0px;
        padding-right: 0px;
    }
}/* sp */
  
@media only screen and (min-width: 1200px) {
    .header_inner {
        width: 95%;
        padding: 5px 15px;
    }
    .nav_list{
        text-align: right;
    }
    .nav_list li{
        display: inline-block;
        text-align: right;
        padding: 0px 0px 0px 0px;
        font-size: large;
    }
    .nav_list a {
        padding: 10px 5px 10px 5px;
        border-radius: 5px;
        margin-left: 15px;
    }
    .nav_item a{
        color: #FFE4C4;
        font-weight: 600;
    }

    .nav_item #menu_mo { 
        color: #333;
        background-color: #FFE4C4;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);  
    }
    .nav_item a:hover  {
        color: #333;
        background-color: #FFE4C4;
    }

    /*セレクトボックス関連 */
    #title_shownum {
        font-size:x-large;
    }
    #numSelect {
        width: 70px;
        height: 40px;
        font-size: large;
    }

    #search_funcs {
        float: right;
     
    }

    #searchBox {
        width: 300px;
        height: 35px;
        font-size: large;
    }

    #search-button {
        width: 70px;
        height: 40px;
        font-size: large;
    }

    #reset-button {
        width: 90px;
        height: 40px;
        font-size: large;
    }

}/* pc */
/* メニュー関係 end*/



.titleScripts {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column; /* 子要素を縦に並べる */
    text-align:center;
    align-items: center;
    font-size: xx-large;
}

#kon-layla {
    margin-top: 0px;
    margin-bottom: 0px;
}

.description_text {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    width: auto;
    overflow-wrap: break-all;
    justify-content: center;
    text-align:center;
    align-items: center;
    font-size: 25px;
}
.contents-wapper {
    font-family: sans-serif;
}

footer {
    font-family: sans-serif;
    width: 100%;
    background-color: #424141;
    text-align: center;
    color: #ddd;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.footer_menu {
    margin-top: 0px;
}


ul.footer_menu {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

ul.footer_menu li {
    display: inline;
}

#cc {
    font-family: sans-serif;
    color: #ddd;
}

#version {
    font-family: sans-serif;
    color: #ddd;
}


.no01 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.no02 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}
.no03 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}
.no04 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.contents-wapper div span {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.button {
    margin: 30px;
    margin: auto;
    display: block;
}


#button_sch a {
    border-radius: 7px;
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 0px;
    max-width: 250px;
    padding: 10px;
    font-size: 23px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    /*font-weight: 600;*/
    background: rgb(252, 149, 149);
    background: linear-gradient(270deg, rgb(252, 149, 149) 0%, rgb(255, 107, 107) 100%);
    /*box-shadow: 5px 5px #f9a5a5;*/
    /*box-shadow: 10px 10px 10px rgba(0,0,0,0.3);*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}
#button_sch a:hover {
    background: rgb(255, 117, 117);
    background: linear-gradient(270deg, rgb(255, 117, 117) 0%, rgb(252, 62, 62) 100%);
}

#button_mo a {
    border-radius: 7px;
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 0px;
    max-width: 250px;
    padding: 10px;
    font-size: 23px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    /*font-weight: 600;*/
    background: linear-gradient(270deg, rgb(1, 186, 68) 0%, rgb(0, 154, 80) 100%);
    /*box-shadow: 5px 5px #f9a5a5;*/
    /*box-shadow: 10px 10px 10px rgba(0,0,0,0.3);*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#button_mo a:hover {
    background: linear-gradient(270deg, rgb(52, 194, 0) 0%, rgb(53, 167, 0) 100%);
}

#youtubeList_u {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_u_inner {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center; /* カードを水平方向に中央寄せ */
}

#youtubeList_l {
    /*background-color: rgba(243, 90, 90, 0.5);*/
    position: static;
    display: flex;
    flex-direction: column; /* 子要素を縦に並べる */
    justify-content: center; /* 主軸方向（横軸）の中央寄せ */
    align-items: center; /* クロス軸方向（縦軸）の中央寄せ */
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}


#youtubeList_l_inner {
    display:flex;
    justify-content: center; /* 主軸方向（横軸）の中央寄せ */
    align-items: center; /* クロス軸方向（縦軸）の中央寄せ */
}


#youtubeList_c {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_c_inner {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center; /* カードを水平方向に中央寄せ */
    
}

#youtubeList_m {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_m_inner {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center; /* カードを水平方向に中央寄せ */
}

#youtubeList_test {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

#youtubeList_test_inner {
    display: flex;
    flex-wrap: wrap;
}

#youtubeList_singing {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}


#youtubeList_singing_inner {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center; /* カードを水平方向に中央寄せ */
}

.statetext {
    font-size: xx-large;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.statetext h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

#youtubeList_l.statetext {
    text-align: center;
}

#search_funcs {
    float: none;
    display: flex;
    width: 100%;
    justify-content: center; /* カードを水平方向に中央寄せ */
}


#link {
    float: left;
}

.ringo  {
    display: none;
    margin: 10px;
    float: right;
}

.countdown {
    background-color: #f3f3f3;
    border-radius: 7px;
    padding: 5px;
    font-size: xx-large;
    margin: 10px;
    float: right;
}
/*
.twitter-follow-button {
    margin: 10px;
    margin-bottom: 3px;
    text-align: right;
    font-size: large;
}
*/

.twitter-hashtag-button {
    margin-left: 30px;
    margin-top: 30px;
    text-align: right;
    font-size: x-large;
}



iframe {
    width: 480px;
    height: 270px;
    border-radius: 7px;
    margin-top: 5px;
}

.thumb {
    width: 480px;
    height: 270px;
    border-radius: 7px;
    margin-top: 5px;
    object-fit: cover; /* この一行を追加するだけ！ */
}



.iframe_wrapper {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #33333300;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    max-width: min-content;

}

.iframe_wrapper_test {
    
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-width: 0px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    max-width: min-content;
}

.iframe_wrapper_singing {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-width: 0px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    max-width: min-content;
}

.iframe_wrapper_m {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #00a908;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: min-content;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.iframe_wrapper_t {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #6441A4;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: min-content;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.iframe_wrapper_l {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #FF0000;
    border-radius: 7px;
    background-color: #ffffff;
    max-width: min-content;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

h2.sc-time {
    margin-top: 5px;
    margin-bottom: 5px;
}

.statetext_top {
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.ave_time {
    height: fit-content;
    margin-top: 16px;
}




.iframe_wrapper_c {
    margin: 5px;
}


.switch_label {
    width: fit-content;
    display: none;
    margin: 10px;
    align-items: center;
}

.switch_light_label {
    width: fit-content;
    display: flex;
    margin: 10px;
    align-items: center;
}


  
input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
}
  
.base {
    width: 56px;
    border-radius: 15px;
    height: 32px;
    background-color: #ddd;
}
  
.title {
    margin-left: 4px;
}



.circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: white;
    transition: 0.5s;
}
  
input:checked ~ .base {
    background-color: rgb(219, 234, 254);
    transition: 0.5s;
}

input:checked ~ .circle {
    transform: translateX(100%);
    background-color: blue;
}
  

.switch {
    position: relative;
}
#switch {
    display: none;
}

.switch_light {
    position: relative;
}

#switch_light {
    display: none;
}



.title_blkapi {
    margin-right: 10px;
}

.enable_lightmode {
    margin-right: 10px;
}

.links {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align:center;
    align-items: flex-start; /* 要素を上端に揃える */
    font-size: xx-large;
    flex-wrap: wrap; /* 画面幅が狭くなった場合に要素を折り返す */
}

.link-logo, .link-logo-tw, .link-logo-tw-hover {
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; /* 画面幅が狭くなった場合に要素を折り返す */
}

/* ホバー時のロゴは初めは非表示 */
.link-logo-tw-hover {
    display: none;
  }
  
  /* マウスホバー時にホバー時のロゴを表示し、通常のロゴを非表示にする */
  .twitter-link:hover .link-logo-tw {
    display: none;
  }
  
  .twitter-link:hover .link-logo-tw-hover {
    display: flex;
  }

#tiktok {
    background-color: black;
}

.inner-logo {
    height: 30px;
    width: auto;
    margin-top: 15px;
    float: right;
}

@media screen and (max-width: 1079px) {
    .thumb {
        width: 352px;
        height: 198px;
        margin: auto;
        display: block;
    }

    h2.sc-time {
        font-size: 18px;
        width: 352px;
    }

    .inner-logo {
        height: 20px;
        width: auto;
        margin-top: 12px;
    }
    #searchBox {
        font-size: 16px;
    }

    .countdown {
        font-size: x-large;
    }
}


/* ここから上に812px以上用（タブレット・パソコン）以降に特段設定しなければ上が優先 */
@media screen and (max-width: 812px) {
/* ここに812px以下用（タブレット・スマートフォン） */
    .header_title{
        font-size: x-large;
    }
    .titleScripts {
        text-align: center;
        font-size: x-large;
    }
    .description_text {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        overflow-wrap: break-all;
    }
    #button_sch a {
        font-size: 20px;
        max-width: 200px;
        margin-bottom: 10px;
    }

    #button_mo a {
        font-size: 20px;
        max-width: 200px;
        margin-bottom: 35px;
    }
    .statetext {
        font-size: x-large;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    iframe {
        width: 352px;
        height: 198px;
    }
    .thumb {
        width: 288px;
        height: 162px;
        margin: auto;
        display: block;
    }
    h2.sc-time {
        font-size: 16px;
        width: 288px;
    }

    .iframe_wrapper {
        padding: 5px;
        width: max-content;
    }

    .iframe_wrapper_m {
        padding: 5px;
        width: auto;
    }

    .iframe_wrapper_t {
        padding: 5px;
        width: auto;
    }

    .iframe_wrapper_l {
        padding: 5px;
        width: auto;
    }

    .links {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }

    .link-logo, .link-logo-tw, .link-logo-tw-hover {
        width: 60px;
        height: 60px;
        margin: 5px;
        border-radius: 8px;
    }
    
    #tiktok {
        background-color: black;
    }

    .inner-logo {
        height: 20px;
        width: auto;
    }

    .tape {
        width: 15px; /* 大きさを調整 */
        height: 15px; /* 大きさを調整 */
    }

    .countdown {
        font-size: large;
    }

    .numsection {
       font-size: 18px;
    }

    
}

@media screen and (max-width: 600px) {
    .links {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
}


@media screen and (max-width: 500px) {
/* ここに500px以下用（スマートフォン） */
    .header_title{
        font-size: large;
    }
    .titleScripts {
        text-align: center;
        font-size: large;
    }

    h1 {
        margin: 0px;
    }

    .description_text {
        /*font-family: sans-serif;
        text-align: left;*/
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        overflow-wrap: break-all;
        
        width: auto;
    }


    .button {
        margin: 10px;
    }
    #button_sch a {
        font-size: 15px;
        max-width: 180px;
        margin-bottom: 10px;
        padding: 7px;
    }

    #button_mo a {
        font-size: 15px;
        max-width: 180px;
        margin-bottom: 20px;
        padding: 7px;
    }

    footer {
        width: auto;
        height: auto;
        background-color: #424141;
        text-align: center;
        color: #ddd;
        margin-bottom: 0%;
    }

    footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #cc {
        font-size: small;
    }
    #version {
        font-size: small;
    }
    
    .statetext {
        font-size: large;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    iframe {
        width: 304px;
        height: 171px;
    }

    .thumb {
        width: 304px;
        height: 171px;
        margin: auto;
        display: block;
    }

    .iframe_wrapper {
        width:95%;
        margin: auto;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .iframe_wrapper_test {
        width:95%;
        margin: auto;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .iframe_wrapper_m {
        width:95%;
        margin: auto;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-width: 3px;
    }

    .iframe_wrapper_t {
        width:95%;
        margin: auto;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-width: 3px;
    }

    .iframe_wrapper_l {
        width:95%;
        margin: auto;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-width: 3px;
    }

    .iframe_wrapper_singing {
        width:95%;
        margin: auto;
        display: block;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        box-shadow: 0 0 10px rgb(0, 179, 255);
    }

    #youtubeList_u {
        background-color: rgba(255, 255, 255, 0.5);
    }

    h2.statetext {
        margin-left: 5px;
    }

    h2.sc-time {
        font-size: 16px;
        width: 304px;
        margin: auto;
    }

    .ave_time {
        margin: 0px;
        font-size: small;
        width: fit-content;
        text-align: end;
    }

    .links {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .link-logo, .link-logo-tw, .link-logo-tw-hover {
        width: 50px;
        height: 50px;
        margin: 3px;
        border-radius: 5px;
    }

    .link-logo a, .link-logo-tw a, .link-logo-tw-hover a {
        flex:1;
    }

    
    
    #tiktok {
        background-color: black;
    }
    /*
    #twitter-follow-button {
        margin-bottom: 5px;
    }
    */

    .twitter-hashtag-button {
        margin-top: 10px;
        margin-left: 5px;
    }

    .inner-logo {
        height: 16px;
        width: auto;
        margin-top: 8px;
    }

    #searchBox {
        width: 50%;
    }

    .tape {
        width: 12px; /* 大きさを調整 */
        height: 12px; /* 大きさを調整 */
    }

    #kon-layla {
        font-size: 22px;
    }

    .countdown {
        font-size: medium;
        margin: 5px;
        padding: 5px;
    }
}
